<% if type == :new %>
  <% action_url = users_url %>
  <% button_text = "create user"%>
<% elsif %>
  <% action_url = edit_user_url(user) %>
  <% button_text = "update user" %>
<% end %>

<form class="" action="<% action_url %>" method="post">
  <%if type == :edit%>
    <input type = "hidden" method = "_method" value="PATCH">
  <%end%>

  <label > Username
    <input type = "text" name="user[user_name]" value="<% user.user_name %>"/>

  </label>

 <label for="user_password">Password</label>
 <input id="user_password" type="password" name="user[password]" value=""/>

 <input type="submit" value="<% button_text %>"/>

</form>
