
ul.ticTacToe_list{
   list-style-type: none;
}

ul.ticTacToe_list {
    list-style-type: none;
    width: 600px;
}


ul.ticTacToe_list li {
    background-color: blue;
    border: 2px solid black;
    float: left;
    width: 180px;
    height: 180px;
}

ul.ticTacToe_list li:hover {
  background-color: yellow;
}

.group::after {
    content: "";
    clear: both;
    display: table;
}

li.square {
    font-size: 150px;
    text-align: center;
    color:yellow;
}
